strong{
    background-color: rgb(5,255,161);
    text-decoration: line-through;
}

body{
    background-color: rgb(1,205,254);
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

table, th, td {
    border: 2px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;  
}

#taskHead{
    background-color: rgb(5,255,161);
}

#outputDiv{
      text-align: center;
}
 
.completedTask{
    opacity: 0%;
    animation: fade 3s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.patOnTheBack{
    float: right;
    color:rgb(255,251,150);
    margin-right: 450px;
}

h1{
    text-align: center;
    color:rgb(255,251,150);
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    background-color: rgb(255,113,206);
    margin-top: 1px;
    border: 2px solid;
}

.dark-mode{
    background-color: rgb(181, 181, 181);
    color: rgb(0, 0, 0);   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#inputDiv{
    margin-left: 400px;
}
  
#newTask{
      border: 2px solid;
}
  
#addNewTask{
      border-radius: 45%;      
}

#addNewTask:hover{
      background-color: rgb(255,251,150);
}

.deleteButton:hover{
    background-color: rgb(255,113,206);
}

.completeButton:hover{
    background-color: rgb(5,255,161);
}
  
th{
      background-color: rgb(1,205,254);
}

td{
    background-color:rgb(185,103,255);
}

em{
    background-color: rgb(255,113,206);
}