strong{
    background-color: greenyellow;
    text-decoration: line-through;
}

body{
    background-color: rgb(44, 36, 202);
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table, th, td {
    border: 2px solid;
    margin-top: 10px;
    margin-left: 10px;  
}
 
#outputDiv{
      text-align: center;
}
 
.completedTask{
      opacity: 0%;
}

h1{
    text-align: center;
    color:rgb(242, 255, 0);
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    background-color: rgb(202, 36, 133);
    margin-top: 1px;
}

#inputDiv{
    margin-left: 10px;
}
  
#newTask{
      border: 2px solid;
}
  
#addNewTask{
      border-radius: 45%;      
}

#addNewTask:hover{
      background-color: cyan;
}

.deleteButton:hover{
    background-color: rgb(255, 0, 230);
}

.completeButton:hover{
    background-color: greenyellow;
}
  
th{
      background-color: cyan;
}

td{
    background-color:coral;
}

em{
    background-color: rgb(255, 0, 230);
}